**SALES**

In [11]:
import pandas as pd
import numpy as np

sales = pd.read_csv(r"C:\Users\navee\Downloads\Sales.csv")

In [52]:
print(sales.head())
print(sales.info())

   Order Number  Line Item Order Date Delivery Date  CustomerKey  StoreKey  \
0        366000          1   1/1/2016           NaN       265598        10
1        366001          1   1/1/2016     1/13/2016      1269051         0
2        366001          2   1/1/2016     1/13/2016      1269051         0
3        366002          1   1/1/2016     1/12/2016       266019         0
4        366002          2   1/1/2016     1/12/2016       266019         0

   ProductKey  Quantity Currency Code
0        1304         1           CAD
1        1048         2           USD
2        2007         1           USD
3        1106         7           CAD
4         373         1           CAD
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Number   62884 non-null  int64
 1   Line Item      62884 non-null  int64
 2   Order Date     62884 non-null  object
 3   Delivery Date  13165 non-null  object
 4   CustomerKey    62884 non-null  int64
 5   StoreKey       62884 non-null  int64
 6   ProductKey     62884 non-null  int64
 7   Quantity       62884 non-null  int64
 8   Currency Code  62884 non-null  object
dtypes: int64(6), object(3)
memory usage: 4.3+ MB
None

In [53]:
print(sales.isnull().sum())

Order Number         0
Line Item            0
Order Date           0
Delivery Date    49719
CustomerKey          0
StoreKey             0
ProductKey           0
Quantity             0
Currency Code        0
dtype: int64

In [59]:
sales_cleaned = sales.drop(columns=['Delivery Date'])
print(sales_cleaned.columns)

Index(['Order Number', 'Line Item', 'Order Date', 'CustomerKey', 'StoreKey',
       'ProductKey', 'Quantity', 'Currency Code'],
      dtype='object')

In [55]:
sales_cleaned['Order Date'] = pd.to_datetime(sales_cleaned['Order Date'], errors='coerce')
print(sales_cleaned.dtypes)

Order Number              int64
Line Item                 int64
Order Date       datetime64[ns]
CustomerKey               int64
StoreKey                  int64
ProductKey                int64
Quantity                  int64
Currency Code            object
dtype: object

In [60]:
sales_cleaned

,Order Number,Line Item,Order Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code
0,366000,1,1/1/2016,265598,10,1304,1,CAD
1,366001,1,1/1/2016,1269051,0,1048,2,USD
2,366001,2,1/1/2016,1269051,0,2007,1,USD
3,366002,1,1/1/2016,266019,0,1106,7,CAD
4,366002,2,1/1/2016,266019,0,373,1,CAD
...,...,...,...,...,...,...,...,...
62879,2243030,1,2/20/2021,1216913,43,632,3,USD
62880,2243031,1,2/20/2021,511229,0,98,4,EUR
62881,2243032,1,2/20/2021,331277,0,1613,2,CAD
62882,2243032,2,2/20/2021,331277,0,1717,2,CAD
62883,2243032,3,2/20/2021,331277,0,464,7,CAD

In [57]:
sales_cleaned.to_csv(r'C:\Users\navee\OneDrive\Desktop\DATA_SPARK(project-2)\Sales_cleaned.csv', index=False)

**CUSTOMERS**

In [29]:
import pandas as pd
import numpy as np

customers = pd.read_csv(r"C:\Users\navee\Downloads\Customers.csv", encoding='latin-1')

In [30]:
print(customers.head())
print(customers.info())

   CustomerKey  Gender               Name            City State Code  \
0          301  Female      Lilly Harding  WANDEARAH EAST         SA
1          325  Female       Madison Hull      MOUNT BUDD         WA
2          554  Female      Claire Ferres       WINJALLOK        VIC
3          786    Male  Jai Poltpalingada    MIDDLE RIVER         SA
4         1042    Male    Aidan Pankhurst   TAWONGA SOUTH        VIC

               State Zip Code    Country  Continent    Birthday
0    South Australia     5523  Australia  Australia    7/3/1939
1  Western Australia     6522  Australia  Australia   9/27/1979
2           Victoria     3380  Australia  Australia   5/26/1947
3    South Australia     5223  Australia  Australia   9/17/1957
4           Victoria     3698  Australia  Australia  11/19/1965
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerKey  15266 non-null  int64
 1   Gender       15266 non-null  object
 2   Name         15266 non-null  object
 3   City         15266 non-null  object
 4   State Code   15256 non-null  object
 5   State        15266 non-null  object
 6   Zip Code     15266 non-null  object
 7   Country      15266 non-null  object
 8   Continent    15266 non-null  object
 9   Birthday     15266 non-null  object
dtypes: int64(1), object(9)
memory usage: 1.2+ MB
None

In [31]:
customers.fillna({'State Code': 'Unknown'}, inplace=True)

In [32]:
customers['Birthday'] = pd.to_datetime(customers['Birthday'], errors='coerce')
print(customers.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerKey  15266 non-null  int64
 1   Gender       15266 non-null  object
 2   Name         15266 non-null  object
 3   City         15266 non-null  object
 4   State Code   15266 non-null  object
 5   State        15266 non-null  object
 6   Zip Code     15266 non-null  object
 7   Country      15266 non-null  object
 8   Continent    15266 non-null  object
 9   Birthday     15266 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 1.2+ MB
None

In [33]:
print(customers['Birthday'].isna().sum())

0

In [36]:
from datetime import datetime
today = datetime.today()
customers['Age'] = today.year - customers['Birthday'].dt.year
customers['Age'] -= (today.month < customers['Birthday'].dt.month) | ((today.month == customers['Birthday'].dt.month) & (today.day < customers['Birthday'].dt.day))

In [40]:
print(customers.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerKey  15266 non-null  int64
 1   Gender       15266 non-null  object
 2   Name         15266 non-null  object
 3   City         15266 non-null  object
 4   State Code   15266 non-null  object
 5   State        15266 non-null  object
 6   Zip Code     15266 non-null  object
 7   Country      15266 non-null  object
 8   Continent    15266 non-null  object
 9   Birthday     15266 non-null  datetime64[ns]
 10  Age          15266 non-null  int32
dtypes: datetime64[ns](1), int32(1), int64(1), object(8)
memory usage: 1.2+ MB
None

In [41]:
print(customers)

       CustomerKey  Gender               Name                 City State Code  \
0              301  Female      Lilly Harding       WANDEARAH EAST         SA
1              325  Female       Madison Hull           MOUNT BUDD         WA
2              554  Female      Claire Ferres            WINJALLOK        VIC
3              786    Male  Jai Poltpalingada         MIDDLE RIVER         SA
4             1042    Male    Aidan Pankhurst        TAWONGA SOUTH        VIC
...            ...     ...                ...                  ...        ...
15261      2099600  Female     Denisa Duková              Houston         TX
15262      2099618    Male   Justin Solórzano               Mclean         VA
15263      2099758    Male    Svend Petrussen           Wilmington         NC
15264      2099862  Female       Lorenza Rush            Riverside         CA
15265      2099937    Male   Zygmunt Kaminski  Bloomfield Township         MI

                   State Zip Code        Country      Continent   Birthday  \
0        South Australia     5523      Australia      Australia 1939-07-03
1      Western Australia     6522      Australia      Australia 1979-09-27
2               Victoria     3380      Australia      Australia 1947-05-26
3        South Australia     5223      Australia      Australia 1957-09-17
4               Victoria     3698      Australia      Australia 1965-11-19
...                  ...      ...            ...            ...        ...
15261              Texas    77017  United States  North America 1936-03-25
15262           Virginia    22101  United States  North America 1992-02-16
15263     North Carolina    28405  United States  North America 1937-11-09
15264         California    92501  United States  North America 1937-10-12
15265           Michigan    48302  United States  North America 1965-08-18

       Age
0       85
1       45
2       77
3       67
4       58
...    ...
15261   88
15262   32
15263   86
15264   87
15265   59

[15266 rows x 11 columns]

In [43]:
customers.to_csv(r"C:\Users\navee\OneDrive\Desktop\DATA_SPARK(project-2)\cleanes_customers", index=False)

In [5]:
import pandas as pd
import numpy as np

cleanes_customers = pd.read_csv(r"C:\Users\navee\OneDrive\Desktop\DATA_SPARK(project-2)\cleanes_customers")

In [6]:
print(cleanes_customers.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerKey  15266 non-null  int64
 1   Gender       15266 non-null  object
 2   Name         15266 non-null  object
 3   City         15266 non-null  object
 4   State Code   15266 non-null  object
 5   State        15266 non-null  object
 6   Zip Code     15266 non-null  object
 7   Country      15266 non-null  object
 8   Continent    15266 non-null  object
 9   Birthday     15266 non-null  object
 10  Age          15266 non-null  int64
dtypes: int64(2), object(9)
memory usage: 1.3+ MB
None

**PRODUCT**

In [1]:
import pandas as pd
import numpy as np

products = pd.read_csv(r"C:\Users\navee\Downloads\Products.csv")

In [3]:
print(products.info())
print(products.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ProductKey      2517 non-null   int64
 1   Product Name    2517 non-null   object
 2   Brand           2517 non-null   object
 3   Color           2517 non-null   object
 4   Unit Cost USD   2517 non-null   object
 5   Unit Price USD  2517 non-null   object
 6   SubcategoryKey  2517 non-null   int64
 7   Subcategory     2517 non-null   object
 8   CategoryKey     2517 non-null   int64
 9   Category        2517 non-null   object
dtypes: int64(3), object(7)
memory usage: 196.8+ KB
None
   ProductKey                         Product Name    Brand   Color  \
0           1  Contoso 512MB MP3 Player E51 Silver  Contoso  Silver
1           2    Contoso 512MB MP3 Player E51 Blue  Contoso    Blue
2           3     Contoso 1G MP3 Player E100 White  Contoso   White
3           4    Contoso 2G MP3 Player E200 Silver  Contoso  Silver
4           5       Contoso 2G MP3 Player E200 Red  Contoso     Red

  Unit Cost USD Unit Price USD  SubcategoryKey Subcategory  CategoryKey  \
0        $6.62         $12.99              101     MP4&MP3            1
1        $6.62         $12.99              101     MP4&MP3            1
2        $7.40         $14.52              101     MP4&MP3            1
3       $11.00         $21.57              101     MP4&MP3            1
4       $11.00         $21.57              101     MP4&MP3            1

  Category
0    Audio
1    Audio
2    Audio
3    Audio
4    Audio

In [4]:
print(products.isnull().sum())

ProductKey        0
Product Name      0
Brand             0
Color             0
Unit Cost USD     0
Unit Price USD    0
SubcategoryKey    0
Subcategory       0
CategoryKey       0
Category          0
dtype: int64

In [5]:
products['Unit Cost USD'] = products['Unit Cost USD'].str.replace(r'[^\d.]', '', regex=True)
products['Unit Price USD'] = products['Unit Price USD'].str.replace(r'[^\d.]', '', regex=True)

In [6]:
products['Unit Cost USD'] = pd.to_numeric(products['Unit Cost USD'], errors='coerce')
products['Unit Price USD'] = pd.to_numeric(products['Unit Price USD'], errors='coerce')

In [7]:
print(products[['Unit Cost USD', 'Unit Price USD']].head())

   Unit Cost USD  Unit Price USD
0           6.62           12.99
1           6.62           12.99
2           7.40           14.52
3          11.00           21.57
4          11.00           21.57

In [8]:
print(products[['Unit Cost USD', 'Unit Price USD']].isnull().sum())

Unit Cost USD     0
Unit Price USD    0
dtype: int64

In [9]:
print(products[['Product Name', 'Brand', 'Color', 'Subcategory', 'Category']].head())

                          Product Name    Brand   Color Subcategory Category
0  Contoso 512MB MP3 Player E51 Silver  Contoso  Silver     MP4&MP3    Audio
1    Contoso 512MB MP3 Player E51 Blue  Contoso    Blue     MP4&MP3    Audio
2     Contoso 1G MP3 Player E100 White  Contoso   White     MP4&MP3    Audio
3    Contoso 2G MP3 Player E200 Silver  Contoso  Silver     MP4&MP3    Audio
4       Contoso 2G MP3 Player E200 Red  Contoso     Red     MP4&MP3    Audio

In [10]:
print(products[['Subcategory', 'Category']].head())

  Subcategory Category
0     MP4&MP3    Audio
1     MP4&MP3    Audio
2     MP4&MP3    Audio
3     MP4&MP3    Audio
4     MP4&MP3    Audio

In [15]:
print(products['Color'].value_counts())

Color
Black          602
White          505
Silver         417
Grey           283
Blue           200
Red             99
Pink            84
Brown           77
Green           74
Orange          55
Gold            50
Yellow          36
Silver Grey     14
Azure           14
Purple           6
Transparent      1
Name: count, dtype: int64

In [16]:
print(products[(products['Unit Cost USD'] < 0) | (products['Unit Price USD'] < 0)])

Empty DataFrame
Columns: [ProductKey, Product Name, Brand, Color, Unit Cost USD, Unit Price USD, SubcategoryKey, Subcategory, CategoryKey, Category]
Index: []

In [18]:
print(products.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ProductKey      2517 non-null   int64
 1   Product Name    2517 non-null   object
 2   Brand           2517 non-null   object
 3   Color           2517 non-null   object
 4   Unit Cost USD   2517 non-null   float64
 5   Unit Price USD  2517 non-null   float64
 6   SubcategoryKey  2517 non-null   int64
 7   Subcategory     2517 non-null   object
 8   CategoryKey     2517 non-null   int64
 9   Category        2517 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 196.8+ KB
None

In [19]:
products.to_csv(r'C:\Users\navee\OneDrive\Desktop\DATA_SPARK(project-2)\cleaned_products.csv', index=False)

**STORES**

In [20]:
import pandas as pd
import numpy as np

stores = pd.read_csv(r"C:\Users\navee\Downloads\Stores.csv")

In [21]:
print(stores.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   StoreKey       67 non-null     int64
 1   Country        67 non-null     object
 2   State          67 non-null     object
 3   Square Meters  66 non-null     float64
 4   Open Date      67 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 2.7+ KB
None

In [22]:
print(stores.isnull().sum())

StoreKey         0
Country          0
State            0
Square Meters    1
Open Date        0
dtype: int64

In [23]:
stores['Square Meters'] = stores['Square Meters'].fillna(stores['Square Meters'].median())

In [24]:
print(stores.isnull().sum())

StoreKey         0
Country          0
State            0
Square Meters    0
Open Date        0
dtype: int64

In [25]:
stores['Open Date'] = pd.to_datetime(stores['Open Date'], errors='coerce')

In [26]:
print(stores.dtypes)

StoreKey                  int64
Country                  object
State                    object
Square Meters           float64
Open Date        datetime64[ns]
dtype: object

In [27]:
stores['Store Age'] = (pd.to_datetime('today') - stores['Open Date']).dt.days / 365

In [29]:
print(stores[['Store Age']].head())

   Store Age
0  16.810959
1  16.780822
2  12.791781
3  14.808219
4   8.868493

In [30]:
print(stores[['Country', 'State']].head())

     Country                         State
0  Australia  Australian Capital Territory
1  Australia            Northern Territory
2  Australia               South Australia
3  Australia                      Tasmania
4  Australia                      Victoria

In [32]:
print(stores.duplicated(subset=['Country', 'State']).sum())

0

In [33]:
print(stores.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   StoreKey       67 non-null     int64
 1   Country        67 non-null     object
 2   State          67 non-null     object
 3   Square Meters  67 non-null     float64
 4   Open Date      67 non-null     datetime64[ns]
 5   Store Age      67 non-null     float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 3.3+ KB
None

In [35]:
stores.to_csv(r'C:\Users\navee\OneDrive\Desktop\DATA_SPARK(project-2)\cleaned_stores.csv', index=False)

**EXCHANGE_RATES**

In [36]:
import pandas as pd
import numpy as np

exchange_rates = pd.read_csv(r"C:\Users\navee\Downloads\Exchange_Rates.csv")

In [37]:
print(exchange_rates.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      11215 non-null  object
 1   Currency  11215 non-null  object
 2   Exchange  11215 non-null  float64
dtypes: float64(1), object(2)
memory usage: 263.0+ KB
None

In [38]:
print(exchange_rates.head())

       Date Currency  Exchange
0  1/1/2015      USD    1.0000
1  1/1/2015      CAD    1.1583
2  1/1/2015      AUD    1.2214
3  1/1/2015      EUR    0.8237
4  1/1/2015      GBP    0.6415

In [39]:
exchange_rates['Date'] = pd.to_datetime(exchange_rates['Date'], errors='coerce')

In [41]:
print(exchange_rates.info())
print(exchange_rates[['Date']].head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      11215 non-null  datetime64[ns]
 1   Currency  11215 non-null  object
 2   Exchange  11215 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 263.0+ KB
None
        Date
0 2015-01-01
1 2015-01-01
2 2015-01-01
3 2015-01-01
4 2015-01-01

In [42]:
print(exchange_rates.isnull().sum())

Date        0
Currency    0
Exchange    0
dtype: int64

In [43]:
print(exchange_rates['Currency'].unique())

['USD' 'CAD' 'AUD' 'EUR' 'GBP']

In [45]:
print(exchange_rates.shape)

(11215, 3)

In [48]:
exchange_rates = exchange_rates[(exchange_rates['Exchange'] > 0) & (exchange_rates['Exchange'] < 100)]
print(exchange_rates.describe())

                      Date      Exchange
count                11215  11215.000000
mean   2018-01-26 00:00:00      1.061682
min    2015-01-01 00:00:00      0.628500
25%    2016-07-14 00:00:00      0.857800
50%    2018-01-26 00:00:00      1.000000
75%    2019-08-10 00:00:00      1.311900
max    2021-02-20 00:00:00      1.725300
std                    NaN      0.245519

In [50]:
exchange_rates.sort_values(by=['Date', 'Currency'], inplace=True)

In [51]:
print(exchange_rates.head())

        Date Currency  Exchange
2 2015-01-01      AUD    1.2214
1 2015-01-01      CAD    1.1583
3 2015-01-01      EUR    0.8237
4 2015-01-01      GBP    0.6415
0 2015-01-01      USD    1.0000

In [53]:
exchange_rates.to_csv(r'C:\Users\navee\OneDrive\Desktop\DATA_SPARK(project-2)\cleaned_exchange_rate_data.csv', index=False)