**MERGING DATA**

In [56]:
import pandas as pd
sales = pd.read_csv(r"C:\Users\navee\OneDrive\Desktop\DATA_SPARK(project-2)\Sales_cleaned.csv")
customers = pd.read_csv(r"C:\Users\navee\OneDrive\Desktop\DATA_SPARK(project-2)\cleanes_customers")
products = pd.read_csv(r"C:\Users\navee\OneDrive\Desktop\DATA_SPARK(project-2)\cleaned_products.csv")
stores = pd.read_csv(r"C:\Users\navee\OneDrive\Desktop\DATA_SPARK(project-2)\cleaned_stores.csv")
exchange_rates = pd.read_csv(r"C:\Users\navee\OneDrive\Desktop\DATA_SPARK(project-2)\cleaned_exchange_rate_data.csv")

In [57]:
sales_customers = pd.merge(sales, customers, on='CustomerKey', how='inner')

In [58]:
sales_customers_products = pd.merge(sales_customers, products, on='ProductKey', how='inner')

In [59]:
sales_customers_products_stores = pd.merge(sales_customers_products, stores, on='StoreKey', how='inner')

In [60]:
full_data = pd.merge(
    sales_customers_products_stores,
    exchange_rates,
    left_on=['Currency Code', 'Order Date'],
    right_on=['Currency', 'Date'],
    how='left'  
)

In [61]:
print(full_data.isnull().sum())

Order Number      0
Line Item         0
Order Date        0
CustomerKey       0
StoreKey          0
ProductKey        0
Quantity          0
Currency Code     0
Gender            0
Name              0
City              0
State Code        0
State_x           0
Zip Code          0
Country_x         0
Continent         0
Birthday          0
Age               0
Product Name      0
Brand             0
Color             0
Unit Cost USD     0
Unit Price USD    0
SubcategoryKey    0
Subcategory       0
CategoryKey       0
Category          0
Country_y         0
State_y           0
Square Meters     0
Open Date         0
Store Age         0
Date              0
Currency          0
Exchange          0
dtype: int64

In [62]:
full_data.drop_duplicates(inplace=True)

In [63]:
print(full_data.head())

   Order Number  Line Item  Order Date  CustomerKey  StoreKey  ProductKey  \
0        366000          1  2016-01-01       265598        10        1304
1        366001          1  2016-01-01      1269051         0        1048
2        366001          2  2016-01-01      1269051         0        2007
3        366002          1  2016-01-01       266019         0        1106
4        366002          2  2016-01-01       266019         0         373

   Quantity Currency Code  Gender            Name  ... CategoryKey  \
0         1           CAD    Male    Tyler Vaught  ...           4
1         2           USD    Male  Frank Upchurch  ...           4
2         1           USD    Male  Frank Upchurch  ...           8
3         7           CAD  Female      Joan Roche  ...           4
4         1           CAD  Female      Joan Roche  ...           3

                 Category Country_y  State_y Square Meters   Open Date  \
0  Cameras and camcorders    Canada  Nunavut        1210.0  2015-04-04
1  Cameras and camcorders    Online   Online        1347.5  2010-01-01
2         Home Appliances    Online   Online        1347.5  2010-01-01
3  Cameras and camcorders    Online   Online        1347.5  2010-01-01
4               Computers    Online   Online        1347.5  2010-01-01

   Store Age        Date Currency Exchange
0   9.550685  2016-01-01      CAD   1.3884
1  14.808219  2016-01-01      USD   1.0000
2  14.808219  2016-01-01      USD   1.0000
3  14.808219  2016-01-01      CAD   1.3884
4  14.808219  2016-01-01      CAD   1.3884

[5 rows x 35 columns]

In [64]:
print(full_data.columns)

Index(['Order Number', 'Line Item', 'Order Date', 'CustomerKey', 'StoreKey',
       'ProductKey', 'Quantity', 'Currency Code', 'Gender', 'Name', 'City',
       'State Code', 'State_x', 'Zip Code', 'Country_x', 'Continent',
       'Birthday', 'Age', 'Product Name', 'Brand', 'Color', 'Unit Cost USD',
       'Unit Price USD', 'SubcategoryKey', 'Subcategory', 'CategoryKey',
       'Category', 'Country_y', 'State_y', 'Square Meters', 'Open Date',
       'Store Age', 'Date', 'Currency', 'Exchange'],
      dtype='object')

In [65]:
full_data['Sales Amount'] = full_data['Quantity'] * full_data['Unit Price USD']

In [66]:
full_data['Store Location'] = full_data['City'] + ', ' + full_data['State_y'] + ', ' + full_data['Country_y'] + ', ' + full_data['Continent']

In [67]:
full_data['Exchange Rate'] = full_data['Exchange']

In [68]:
print(full_data[['Order Number', 'Order Date', 'CustomerKey', 'Gender', 
                 'Product Name', 'Brand', 'Sales Amount', 'Store Location', 
                 'Currency Code', 'Exchange Rate']].head())

   Order Number  Order Date  CustomerKey  Gender  \
0        366000  2016-01-01       265598    Male
1        366001  2016-01-01      1269051    Male
2        366001  2016-01-01      1269051    Male
3        366002  2016-01-01       266019  Female
4        366002  2016-01-01       266019  Female

                             Product Name            Brand  Sales Amount  \
0         Contoso Lens Adapter M450 White          Contoso         68.00
1         A. Datum SLR Camera X136 Silver         A. Datum        854.00
2  Fabrikam Microwave 1.5CuFt X1100 Black         Fabrikam        665.94
3          Contoso SLR Camera M146 Orange          Contoso       2254.00
4   Adventure Works Laptop8.9 E0890 White  Adventure Works        326.00

                            Store Location Currency Code  Exchange Rate
0   London, Nunavut, Canada, North America           CAD         1.3884
1   Auberry, Online, Online, North America           USD         1.0000
2   Auberry, Online, Online, North America           USD         1.0000
3  Red Deer, Online, Online, North America           CAD         1.3884
4  Red Deer, Online, Online, North America           CAD         1.3884

In [74]:
full_data = full_data.to_csv(r"C:\Users\navee\OneDrive\Desktop\DATA_SPARK(project-2)\full_data")

In [73]:
print(full_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 38 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order Number    62884 non-null  int64
 1   Line Item       62884 non-null  int64
 2   Order Date      62884 non-null  datetime64[ns]
 3   CustomerKey     62884 non-null  int64
 4   StoreKey        62884 non-null  int64
 5   ProductKey      62884 non-null  int64
 6   Quantity        62884 non-null  int64
 7   Currency Code   62884 non-null  object
 8   Gender          62884 non-null  object
 9   Name            62884 non-null  object
 10  City            62884 non-null  object
 11  State Code      62884 non-null  object
 12  State_x         62884 non-null  object
 13  Zip Code        62884 non-null  object
 14  Country_x       62884 non-null  object
 15  Continent       62884 non-null  object
 16  Birthday        62884 non-null  datetime64[ns]
 17  Age             62884 non-null  int64
 18  Product Name    62884 non-null  object
 19  Brand           62884 non-null  object
 20  Color           62884 non-null  object
 21  Unit Cost USD   62884 non-null  float64
 22  Unit Price USD  62884 non-null  float64
 23  SubcategoryKey  62884 non-null  int64
 24  Subcategory     62884 non-null  object
 25  CategoryKey     62884 non-null  int64
 26  Category        62884 non-null  object
 27  Country_y       62884 non-null  object
 28  State_y         62884 non-null  object
 29  Square Meters   62884 non-null  float64
 30  Open Date       62884 non-null  object
 31  Store Age       62884 non-null  float64
 32  Date            62884 non-null  object
 33  Currency        62884 non-null  object
 34  Exchange        62884 non-null  float64
 35  Sales Amount    62884 non-null  float64
 36  Store Location  62884 non-null  object
 37  Exchange Rate   62884 non-null  float64
dtypes: datetime64[ns](2), float64(7), int64(9), object(20)
memory usage: 18.2+ MB
None

In [70]:
full_data['Order Date'] = pd.to_datetime(full_data['Order Date'], errors='coerce')

In [72]:
full_data['Birthday'] = pd.to_datetime(full_data['Birthday'], errors='coerce')